.navbar{
    background-color: #6d0909;
}
.back_image { 
    /* background: repeat-y;  */
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    min-height: 710px;
    min-width: 1024px;
    width: 100%;
    /* left: 0;
    right: 0; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* height: auto; */
    /* position: fixed; */
    /* top: 0; */
}

body{
    background-image: url('/images/lights_background.jpg');
    overflow-x: hidden;
}

.form-control{
    width: fit-content;    
}

.header_icon{
    width: 90px;
    height: 90px;
}

.card{
    opacity: 0.91;
    border-radius: 5px;
}

.example-popover{
    width: fit-content;
}