*{
    margin: auto;
    padding: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.589);
    background-image: url('/images/lights_background.jpg');
}
.container{
    height: 800px;
    background-color: #6d0909;
    border-radius: 10px;
    /* opacity: 0.6; */
}

.button{
    color: royalblue;
}